body {
  background-image: linear-gradient(#4ca1af, #c4e0e5);
}

.form-center {
  display: flex;
  justify-content: center;
}

.content {
  background: white;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 10px;
  border-radius: 25px;
}

/* div{ */
  /* line-height: 30px;
} */

label {
  display: block;   
}


